<h4>{{title}}</h4>
<md-card id="new-user-card">
  <form (ngSubmit)="createNewAccount()" #newUserForm="ngForm">
    <md-input placeholder="Username" [(ngModel)]="newUser.username" name="username" required></md-input>
    <md-input placeholder="Password" type="password" [(ngModel)]="newUser.password" name="password" required></md-input>
    <md-input placeholder="First Name" [(ngModel)]="newUser.firstName" name="firstName" required></md-input>
    <md-input placeholder="Last Name" [(ngModel)]="newUser.lastName" name="lastName" required></md-input>
    <md-input placeholder="Email" [(ngModel)]="newUser.email" name="email" required></md-input>
    <br/>
    <button type="submit" class="btn btn-secondary" [disabled]="!newUserForm.form.valid">Create</button>
  </form>
  <div *ngIf="newAccountResponse">
    <h4>{{newAccountResponse}}</h4>
  </div>
  <div *ngIf="newAccountResponseDetail">
    <p>{{newAccountResponseDetail}}</p>
  </div>
</md-card>