<div class="container">
  <div class="row">
    <h4>{{title}}</h4>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <i *ngIf="loading" class="fa fa-spinner fa-spin" aria-hidden="true"></i>
      <div *ngIf="accountResponse" id="admin-response-card">
        <div *ngIf="accountResponse">
          <h4>{{accountResponse}}</h4>
        </div>
        <div *ngIf="accountResponseDetail">
          <p>{{accountResponseDetail}}</p>
        </div>
      </div>
    </div>
    
    <div class="col-md-4">
      <div class="list-group">
        <a *ngFor="let user of users" class="list-group-item list-group-item-action flex-column align-items-start" (click)="selectUser(user)">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{user.username}}</h5>
          </div>
          <small>{{user.firstName}} {{user.lastName}}</small>
        </a>
      </div>
    </div>
    <div class="col-md-8">
      <user-details *ngIf="selectedUser" [(users)]="users" [(selectedUser)]="selectedUser">
      </user-details>
    </div>
  </div>
</div>