<md-card *ngIf="selectedUser" id="edit-user-card">
  <form (ngSubmit)="editAccount()" #editUserForm="ngForm">
    <md-input placeholder="Username" [(ngModel)]="selectedUser.username" name="username" disabled></md-input>
    <md-input placeholder="First Name" [(ngModel)]="selectedUser.firstName" name="firstName" required></md-input>
    <md-input placeholder="Last Name" [(ngModel)]="selectedUser.lastName" name="lastName" required></md-input>
    <md-input placeholder="Email" [(ngModel)]="selectedUser.email" name="email" required></md-input>
    <br/>
    <button type="submit" class="btn btn-secondary" [disabled]="!editUserForm.form.valid">Update</button>
    <a class="btn btn-secondary" (click)="deleteUser(selectedUser)">Delete</a>
  </form>
  <i *ngIf="loading" class="fa fa-spinner fa-spin" aria-hidden="true"></i>
  <div *ngIf="response">
    <h4>{{response}}</h4>
  </div>
  <div *ngIf="responseDetail">
    <p>{{responseDetail}}</p>
  </div>
</md-card>