<div class="container">
  <div class="row">
    <h4>{{title}}</h4>
  </div>
</div>
<div class="container">
  <div class="row">

    <div class="col-sm-6">

      <!-- User Details Card -->
      <div class="card" *ngIf="user">
        <div class="card-block">
          <i *ngIf="testLoading" class="fa fa-spinner fa-spin" aria-hidden="true"></i>
          <div>
            <p>Username: {{user.username}}</p>
            <p>Role: {{user.role}}</p>
            <p>Name: {{user.firstName}} {{user.lastName}}</p>
            <p>Email: {{user.email}}</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>