<div class="container">
  <div class="row">
    <h4>{{title}}</h4>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="list-group">
        <a *ngFor="let user of users" class="list-group-item list-group-item-action flex-column align-items-start" (click)="selectUser(user)">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{user.username}}</h5>
          </div>
          <small>{{user.firstName}} {{user.lastName}}</small>
        </a>
      </div>
    </div>
    <div class="col-md-6" *ngIf="selectedUser">
      <admin-details [(users)]="users" [(selectedUser)]="selectedUser"></admin-details>
    </div>
    <div class="col-sm-6" *ngIf="!selectedUser">
      <img src="resources/images/sarlacc.png">
    </div>
  </div>
</div>