<nav class="navbar navbar-inverse bg-inverse fixed-top">
  <a class="navbar-brand" href="#" routerLink="/">Sarlacc {{welcome}}</a>
</nav>
<div *ngIf="!isAdmin()" style="margin-top:65px;">
</div>
<div *ngIf="isAdmin()" class="container" style="margin-top:65px;">
  <div class="row">
    <nav id="nav-id">
      <a routerLink="/new-account" routerLinkActive="active">Create Account</a>
      <a routerLink="/admin" routerLinkActive="active">Administration</a>
    </nav>
  </div>
</div>
<hr *ngIf="isAdmin()"/>
<router-outlet></router-outlet>