<div class="container">
  <div class="row">
    <h1>Sarlacc {{welcome}}</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <nav>
      <a routerLink="/home" routerLinkActive="active">Home</a>
      <a *ngIf="isAdmin()" routerLink="/new-account" routerLinkActive="active">Create Account</a>
      <a *ngIf="isAdmin()" routerLink="/admin" routerLinkActive="active">Administration</a>
      <a routerLink="/login" routerLinkActive="active">Login</a>
    </nav>
  </div>
</div>

<router-outlet></router-outlet>