<h4>{{title}}</h4>
<div id="login-card">
  <form (ngSubmit)="login()" #loginForm="ngForm">
    <input class="form-control" placeholder="username" [(ngModel)]="creds.username" name="username" required />
    <input class="form-control" placeholder="password" type="password" [(ngModel)]="creds.password" name="password" required />
    <br/>
    <button *ngIf="!loginLoading" type="submit" class="btn btn-secondary" [disabled]="!loginForm.form.valid">Login</button>
    <i *ngIf="loginLoading" class="fa fa-spinner fa-spin" aria-hidden="true"></i>
  </form>
  <div *ngIf="loginResponse">
    <h4>{{loginResponse}}</h4>
  </div>
  <div *ngIf="loginResponseDetail">
    <p>{{loginResponseDetail}}</p>
  </div>
</div>
<div id="test-card">
  <button *ngIf="!testLoading" class="btn btn-secondary" (click)="makeTestCall()">Test your access</button>
  <i *ngIf="testLoading" class="fa fa-spinner fa-spin" aria-hidden="true"></i>
  <div *ngIf="testAccessResponse">
    <h4>{{testAccessResponse}}</h4>
  </div>
  <div *ngIf="testAccessResponseDetail">
    <p>{{testAccessResponseDetail}}</p>
  </div>
  <div *ngIf="user">
    <p>Username: {{user.username}}</p>
    <p>Role: {{user.role}}</p>
    <p>Name: {{user.firstName}} {{user.lastName}}</p>
    <p>Email: {{user.email}}</p>
  </div>
</div>