<h4>{{title}}</h4>
<md-card id="login-card">
  <form (ngSubmit)="login()" #loginForm="ngForm">
    <md-input placeholder="username" [(ngModel)]="creds.username" name="username" required></md-input>
    <md-input placeholder="password" type="password" [(ngModel)]="creds.password" name="password" required></md-input>
    <br/>
    <button type="submit" class="btn btn-secondary" [disabled]="!loginForm.form.valid">Login</button>
  </form>
  <div *ngIf="loginResponse">
    <h4>{{loginResponse}}</h4>
  </div>
  <div *ngIf="loginResponseDetail">
    <p>{{loginResponseDetail}}</p>
  </div>
</md-card>