<div class="container">
  <div *ngFor="let appRole of appRoles" class="row">
      {{appRole.appName}} - {{appRole.role}}
  </div>
  <div *ngIf="apps.length > 0" class="row">
    <div class="col-md-4">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ newAppRole.appName || 'App' }}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a *ngFor="let app of apps" class="dropdown-item" (click)="newAppRole.appName = app.name">{{app.name}}</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ newAppRole.role || 'Role' }}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" (click)="newAppRole.role = 'USER'">User</a>
          <a class="dropdown-item" (click)="newAppRole.role = 'ADMIN'">Admin</a>
          <a class="dropdown-item" (click)="newAppRole.role = 'DEMO'">Demo</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <button class="btn btn-primary" (click)="addAppRole()">Add</button>
    </div>
  </div>
</div>