<div class="container">
  <div *ngFor="let appRole of appRoles" class="row">
      <a class="btn btn-secondary btn-no-outline" (click)="removeAppRole(appRole)"><i class="fa fa-trash" aria-hidden="true"></i></a>
      <span style="margin-top:5px; margin-left:10px">{{appRole.appName}} - {{appRole.role}}</span>
  </div>
  <div *ngIf="apps.length > 0" class="row">
    <div class="col-md-4">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ newAppRole.appName || 'App' }}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a *ngFor="let app of apps" class="dropdown-item" (click)="newAppRole.appName = app.name">{{app.name}}</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ newAppRole.role || 'Role' }}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" (click)="newAppRole.role = 'USER'">USER</a>
          <a class="dropdown-item" (click)="newAppRole.role = 'ADMIN'">ADMIN</a>
          <a class="dropdown-item" (click)="newAppRole.role = 'DEMO'">DEMO</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <button class="btn btn-primary" (click)="addAppRole()">Add</button>
    </div>
  </div>
</div>